@import 'tailwindcss';

/* ===== GLOBAL RULES ===== */
@layer base {
	html,
	body,
	#root {
		font-family: 'NimbusSanL';
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		@apply select-none;

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		touch-action: manipulation;
		-webkit-tap-highlight-color: transparent;
	}

	*:focus {
		outline: none !important;
		box-shadow: none !important;
	}

	body {
		touch-action: none;
		overscroll-behavior: none;
	}
}
